.App {
  text-align: center;
}

.holder div {
  padding-bottom: 10px;
}

.holder .url {
  color: yellow;
  font-size: 1.2em;
  font-weight: bold;
}

.sign-out {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.container {
  margin: 50px;
}

.container button {
  padding: 2px 10px;
  font-size: 0.8em;
  height: 30px;
}

.container ul {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.container ul li {
  display: grid;
}

.list {
  min-height: 600px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info a {
  display: block;
  padding: 10px;
  color: #fff;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info span {
  padding: 10px;
  display: block;
}

.paging {
  display: flex;
  justify-content: flex-end;
}

.paging a {
  display: inline-block;
  margin-bottom: 20px;
}
